# EditorConfig helps maintain consistent coding styles for multiple developers working on the same project
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{js,ts,jsx,tsx,css,scss,md,yml,yaml,json}]
indent_style = space
indent_size = 2
